body{
	background: #232323;
	margin: 0;
	font-family:"Arial Black";
	font-weight: normal;
}
.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.5s;
}
#container{
	margin: 20px auto;
	max-width: 600px;
}
h1{
	color:white;
	text-align:center;
/*	background: green;*/
	margin:0;
	text-transform: uppercase;
	padding:20px 0;
	
}
.imageFog{
	background: url(https://images.unsplash.com/photo-1515550962725-a254324472e9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4d5777bc4b7cff7bc02088bbc8fe2073&auto=format&fit=crop&w=700&q=80);
	background-size: cover;
	background-position: center;
}
#stripe{
	background: white;
	height:30px;
	text-align: center;
	color: black;
}
.selected{
	color:white;
	background: #232323;
}
#colorDisplay{
	font-size:200%;
}
button{
	border:none;
	background:none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: #232323;
	letter-spacing: 1px;
	font-size: inherit;
	transition:all 0.3s;
	outline: none;
}
#message{
	display:inline-block;
	width:20%;
}
button:hover{
	background: #232323;
	color: white;
}